<script src="~/Scripts/text-editor.js"></script>
<div>
    <h3>Text Area Here</h3>
    <!--INIT FORM-->
    <div id="toolBar1">
        <select onchange="formatDoc('formatblock',this[this.selectedIndex].value);this.selectedIndex=0;">
            <option selected>- formatting -</option>
            <option value="h1">Title 1 &lt;h1&gt;</option>
            <option value="h2">Title 2 &lt;h2&gt;</option>
            <option value="h3">Title 3 &lt;h3&gt;</option>
            <option value="h4">Title 4 &lt;h4&gt;</option>
            <option value="h5">Title 5 &lt;h5&gt;</option>
            <option value="h6">Subtitle &lt;h6&gt;</option>
            <option value="p">Paragraph &lt;p&gt;</option>
            <option value="pre">Preformatted &lt;pre&gt;</option>
        </select>
        <select onchange="formatDoc('fontname',this[this.selectedIndex].value);this.selectedIndex=0;">
            <option class="heading" selected>- font -</option>
            <option>Arial</option>
            <option>Arial Black</option>
            <option>Courier New</option>
            <option>Times New Roman</option>
        </select>
        <select onchange="formatDoc('fontsize',this[this.selectedIndex].value);this.selectedIndex=0;">
            <option class="heading" selected>- size -</option>
            <option value="1">Very small</option>
            <option value="2">A bit small</option>
            <option value="3">Normal</option>
            <option value="4">Medium-large</option>
            <option value="5">Big</option>
            <option value="6">Very big</option>
            <option value="7">Maximum</option>
        </select>
        <select onchange="formatDoc('forecolor',this[this.selectedIndex].value);this.selectedIndex=0;">
            <option class="heading" selected>- color -</option>
            <option value="red">Red</option>
            <option value="blue">Blue</option>
            <option value="green">Green</option>
            <option value="black">Black</option>
        </select>
        <select onchange="formatDoc('backcolor',this[this.selectedIndex].value);this.selectedIndex=0;">
            <option class="heading" selected>- background -</option>
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="black">Black</option>
        </select>
    </div>
    <div id="toolBar2">
        <img class="intLink" title="Clean" onclick="if(validateMode()&&confirm('Are you sure?')){oDoc.innerHTML=sDefTxt};" src="../images/clean.gif" />
        <img class="intLink" title="Print" onclick="printDoc();" src="../images/print.png">
        <img class="intLink" title="Undo" onclick="formatDoc('undo');" src="../images/undo.gif" />
        <img class="intLink" title="Redo" onclick="formatDoc('redo');" src="../images/redo.gif" />
        <img class="intLink" title="Remove formatting" onclick="formatDoc('removeFormat')" src="../images/formating.png">
        <img class="intLink" title="Bold" onclick="formatDoc('bold');" src="../images/bold.gif" />
        <img class="intLink" title="Italic" onclick="formatDoc('italic');" src="../images/italic.gif" />
        <img class="intLink" title="Underline" onclick="formatDoc('underline');" src="../images/underline.gif" />
        <img class="intLink" title="Left align" onclick="formatDoc('justifyleft');" src="../images/ratakiri.gif" />
        <img class="intLink" title="Center align" onclick="formatDoc('justifycenter');" src="../images/ratatengah.gif" />
        <img class="intLink" title="Right align" onclick="formatDoc('justifyright');" src="../images/ratakanan.gif" />
        <img class="intLink" title="Numbered list" onclick="formatDoc('insertorderedlist');" src="../images/number.gif" />
        <img class="intLink" title="Dotted list" onclick="formatDoc('insertunorderedlist');" src="../images/bullet.gif" />
        <img class="intLink" title="Quote" onclick="formatDoc('formatblock','blockquote');" src="../images/petik.gif" />
        <img class="intLink" title="Add indentation" onclick="formatDoc('outdent');" src="../images/removetab.gif" />
        <img class="intLink" title="Delete indentation" onclick="formatDoc('indent');" src="../images/tab.gif" />
        <img class="intLink" title="Hyperlink" onclick="var sLnk=prompt('Write the URL here','http:\/\/');if(sLnk&&sLnk!=''&&sLnk!='http://'){formatDoc('createlink',sLnk)}" src="../images/link.gif" />
        <img class="intLink" title="Cut" onclick="formatDoc('cut');" src="../images/cut.gif" />
        <img class="intLink" title="Copy" onclick="formatDoc('copy');" src="../images/copy.gif" />
        <img class="intLink" title="Paste" onclick="formatDoc('paste');" src="../images/paste.gif" />
        <img class="intLink" title="Insert Image" onclick="Confirm.render()" src="../images/img.png" height="17" />
    </div>
    <div id="textBox" name="textBox-rtf" contenteditable="true"></div>
    <p id="editMode"><input type="checkbox" name="switchMode" id="switchBox" onchange="setDocMode(this.checked);" /> <label for="switchBox">Show HTML</label></p>
    <!--END FORM-->
</div>
<script>
    initDoc();
</script>