<div class="container">
    <div id="calendar-wrapper">
        <table class="table table-nonfluid" style="table-layout:fixed; width:40%; text-align:center">
            <tr>
                <td>
                    <select id="input_month" class="form-control"></select>
                </td>
                <td>
                    <input class="form-control" type="number" id="input_year" />
                </td>
                <td>
                    <button class="btn btn-default" id="prev" onclick="setCalendar()">Go</button>
                </td>
            </tr>
            <tr>
                <td>
                    <a class="btn" id="prev" onclick="doPrevMonth(true)">&#10096;</a>
                </td>
                <td>
                    <span id="date-info"></span>
                </td>
                <td>
                    <a class="btn" id="next" onclick="doNextMonth(true)">&#10097;</a>
                </td>
            </tr>
        </table>
        <table class="table" id="date">
            <thead>
                <tr>
                    <th>
                        Senin
                    </th>
                    <th>
                        Selasa
                    </th>
                    <th>
                        Rabu
                    </th>
                    <th>
                        Kamis
                    </th>
                    <th>
                        Jumat
                    </th>
                    <th>
                        Sabtu
                    </th>
                    <th>
                        Ahad
                    </th>
                </tr>
            </thead>
        </table>
    </div>

</div>
