@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jalan Parangtritis km 3,5<br />
    Bangun Harjo, Sewon, Bantul<br />
    <abbr title="Mobile Phone">P:</abbr>
    087737666614
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:fajaralmunawwar@yahoo.com">fajaralmunawwar@yahoo.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:somabangsa@gmail.com">somabangsa@gmail.com</a>
</address>