
@{
    ViewBag.Title = "Index";
}
<div>
    <h2>Index</h2>
    <p>Admin Index Page</p>
    <hr />
    <div class="row" style="text-align: center">
        <p>Program</p>
        <div class="col-md-2">
            <h2>
                <span class="glyphicon glyphicon-file"></span>
                <br />
                <small>Events</small>
            </h2>
            <a class="btn btn-default"  href="~/Web/Admin/Management/Management.aspx?object=book_record">Go</a>

        </div>
        <div class="col-md-2">
            <h2>
                <span class="glyphicon glyphicon-folder-close"></span>
                <br />
                <small>Program</small>
            </h2>
            <a class="btn btn-default"  href="~/Web/Admin/Transaction/BookIssue.aspx">Go</a>
        </div>
        <div class="col-md-2">
            <h2>
                <span class="glyphicon glyphicon-folder-open"></span>
                <br />
                <small>Division</small>
            </h2>
            <a class="btn btn-default"  href="~/Web/Admin/Transaction/CheckStudentIssue.aspx">Go</a>
        </div>
    </div>
</div>

