@using OrgWebMvc.Models;
@{
    ViewBag.Title = "Index";
}
<div>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <h2>Menu</h2>
            <!--menus goes here-->
            <div class="container">
                <div class="row" style="text-align: center">
                    <div class="col-md-4">
                        <h2>
                            <span>&#128197;</span>
                            <br />
                            <small>Events</small>
                        </h2>
                        <a class="btn btn-default" href="~/Entity/Event">Go</a>

                    </div>
                    <div class="col-md-4">
                        <h2>
                            <span class="glyphicon glyphicon-th"></span>
                            <br />
                            <small>Program</small>
                        </h2>
                        <a class="btn btn-default" href="~/Entity/Program">Go</a>
                    </div>
                    <div class=" col-md-4">
                        <h2>
                            <span>&#128214;</span><br />
                            <small>Article</small>
                        </h2>
                        <a class="btn btn-default"  href="~/Entity/Post">Go</a>
                    </div>
                </div>
                <hr />
                <div class="row" style="text-align: center">
                    @if ((bool)ViewData["IsAdmin"])
                    {
                        <div class=" col-md-4">
                            <h2>
                               <span>&#128100;</span><br />
                                <small>Member</small>
                            </h2>
                            <a class="btn btn-default"  href="~/Entity/Member">Go</a>
                        </div>
                        <div class="col-md-4">
                            <h2>
                                <span>&#128129;</span><br />
                                <small>Position</small>
                            </h2>
                            <a class="btn btn-default"  href="~/Entity/Position">Go</a>
                        </div>
                        <div class="col-md-4">
                            <h2>
                                <span class="glyphicon glyphicon-briefcase"></span><br />
                                <small>Section</small>
                            </h2>
                            <a class="btn btn-default"  href="~/Entity/Section">Go</a>
                        </div>

                        <div class="col-md-4">
                            <h2>
                                <span class="glyphicon glyphicon-th-large"></span>
                                <br />
                                <small>Division</small>
                            </h2>
                            <a class="btn btn-default" href="~/Entity/Division">Go</a>
                        </div>
                        <div class="col-md-4">
                            <h2>
                                <span  class="glyphicon glyphicon-user"></span><br />
                                <small>User</small>
                            </h2>
                            <a class="btn btn-default"  href="~/Entity/User">Go</a>
                        </div>
                    }

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!--info goes here-->
            <h2>Info Today Event</h2>
            <div>
                @foreach (@event Event in (List<@event>)ViewData["TodayEvents"])
                {
                    <p>@Event.name</p>
                }

            </div>
        </div>
    </div>

</div>

