
@{
    ViewBag.Title = "Index";
}
<div>
    <p>Admin Index Page</p>
    <hr />
    <div class="row" style="text-align: center">
        <p>Program</p>
        <div class="col-md-2">
            <h2>
                <span class="glyphicon glyphicon-file"></span>
                <br />
                <small>Events</small>
            </h2>
            <a class="btn btn-default"  href="~/Entity/Event">Go</a>

        </div>
        <div class="col-md-2">
            <h2>
                <span class="glyphicon glyphicon-folder-close"></span>
                <br />
                <small>Program</small>
            </h2>
            <a class="btn btn-default"  href="~/Entity/Program">Go</a>
        </div>
        <div class="col-md-2">
            <h2>
                <span class="glyphicon glyphicon-folder-open"></span>
                <br />
                <small>Division</small>
            </h2>
            <a class="btn btn-default"  href="~/Entity/Division">Go</a>
        </div>
    </div>
    <hr />
    <div class="row" style="text-align: center">
        <p>Administration</p>

        <div class=" col-md-2">
            <h2>
                &#128682;<br />
                <small>Article</small>
            </h2>
            <a class="btn btn-default" runat="server" href="~/Entity/Post">Go</a>
        </div>
        <div class=" col-md-2">
            <h2>
                &#128104;<br />
                <small>Member</small>
            </h2>
            <a class="btn btn-default" runat="server" href="~/Entity/Member">Go</a>
        </div>
        <div class=" col-md-2">
            <h2>
                &#128221;<br />
                <small>Transactions</small>
            </h2>
            <a class="btn btn-default" runat="server" href="~/Web/Admin/Management/Management.aspx?object=issue">Go</a>
        </div>
    </div>
</div>

