
@{
    ViewBag.Title = "Stucture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="structure-wrapper">
    <h2>Stucture</h2>
    <div id="canvasWrapper">

    </div>
    <script type="text/javascript">
        let canvasContainer = document.getElementById("canvasWrapper");



    </script> 
</div>


